<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title text-center" id="myModalLabel">CONTACT US</h4>
    </div>
    <div class="modal-body">
        <h3 class="suggestion mark">Your suggestions will help us improve the website immensely.</h3>
        <div class="row" style="display: flex; justify-content: space-around; margin-top: 20px;">
          <div class="img-thumbnail">
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ResearchGate@isa-nsit.in&su=FEEDBACK:<Please type your subject here>&cc=divyanshu@isa-nsit.in"><img src="/uploads/logo.png" id="img1"></a>
          </div>
          <div class="img-thumbnail">
           <a href="https://api.whatsapp.com/send?phone=918076903215"><img src="/uploads/whatsapp.svg" id="img2"></a>
          </div>
          <div class="img-thumbnail">
            <a href=" http://m.me/isansit"><img src="/uploads/fb.svg" id="img3"></a>
          </div>
        </div>
    </div>
  </div>
</div> 

<style type="text/css">

  .img-thumbnail img{
    height: 150px;
    width: 150px;
    -webkit-filter: drop-shadow(0 0 4px #072c61);
    filter: drop-shadow(0 0 4px #072c61);
  }
  #img2{
    height: 140px;
    width: 140px;
    margin-top: 2px;
  }
  .img-thumbnail{
    border-radius: 10px;
    border:2px solid #072c61;
  }

  .suggestion{
    font-family: 'Merriweather',sans-serif;
  }

  @media screen and (max-width:1099px){
    .img-thumbnail img{
    height: 50px;
    width: 50px;
  }
  #img2{
    margin-top: 0px;
    height: 50px;
    width: 50px;
  }
  }
</style>