<div class="Page">	
<div class="page-header" style="margin-top: -20px;">
	<h1 class="text-center team">WEB TEAM</h1>
	<p class="text-center team-para">ISA-Research Gate</p>
</div>
<div class="row">
<!-- Info Card with social icons -->
<div class="info-card">
		<div class="front">
			<img class="card-image" src="/uploads/AshishChauhan3.jpeg">
			<div class="lead text-center">Ashish Chauhan</div>
		</div>
	<div class="back">
		<div class="row">
			<div class="col-sm-3 col-md-4">
				<img class="back-image" src="/uploads/AshishChauhan3.jpeg">
			</div>
			<div class="col-sm-9 col-md-8 name">
				<h3 class="back-name">Ashish Chauhan</h3>
			</div>
		</div>
		<div class="row about-row" >
			<div class="about-me">
				<p>
					Ashish is Currently Pursuing his Bachelors in ICE from Netaji Subhas Institute of Technology , Batch of 2019. He is a Code Enthusiast and a contributor at <b>GeeksForGeeks</b> and <b>Github</b>.He is Efficient in
					C++ and Loves to Develop Web Apps in Rails and plays FIFA in his free time.
				</p>
			</div>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/ashish.chauhan.5688" class="social-icon facebook  animate"><span class="fa fa-facebook"></span></a>

			<a href="https://www.linkedin.com/in/aashish-chauhan-45a081b9/" target="_blank" class=" social-icon linkedin  animate"><span class="fa fa-linkedin"></span></a>

			<a href="https://github.com/ashishc534" target="_blank" class=" social-icon github  animate"><span class="fa fa-github-alt"></span></a>

		</div>
	</div>
</div>

<div class="info-card">
		<div class="front">
			<img class="card-image" src="/uploads/AmanChowdhary1.jpeg">
			<div class="lead text-center">Aman Chowdhary</div>
		</div>
	<div class="back">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<img class="back-image" src="/uploads/AmanChowdhary1.jpeg">
			</div>
			<div class="col-sm-8 col-md-8 name">
				<h3 class="back-name" style="font-size: 1.8em;">Aman Chowdhary</h3>
			</div>
		</div>
		<div class="row about-row" >
			<div class="about-me">
				<p>
					Aman is Currently Pursuing his Bachelors in ICE from Netaji Subhas Institute of Technology , Batch of 2019. He is Efficient in
					JAVA and Loves to Develop Web Apps in Rails and plays COD in his free time.
				</p>
			</div>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/aman.chowdhary.39" class="social-icon facebook  animate"><span class="fa fa-facebook"></span></a>
			
			<a href="https://www.linkedin.com/in/aman-chowdhary-539000159/" target="_blank" class=" social-icon linkedin  animate"><span class="fa fa-linkedin"></span></a>
			
			<a href="https://github.com/AmanChowdhary" target="_blank" class=" social-icon github  animate"><span class="fa fa-github-alt"></span></a>

		</div>
	</div>
</div>

<div class="info-card">
		<div class="front">
			<img class="card-image" src="/uploads/AnkushSharma.jpeg">
			<div class="lead text-center">Ankush Sharma</div>
		</div>
	<div class="back">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<img class="back-image" src="/uploads/AnkushSharma.jpeg">
			</div>
			<div class="col-sm-8 col-md-8 name">
				<h3 class="back-name">Ankush Sharma</h3>
			</div>
		</div>
		<div class="row about-row" >
			<div class="about-me">
				<p>
					Ankush is Currently Pursuing his Bachelors in ICE from Netaji Subhas Institute of Technology , Batch of 2019. He is Efficient in
					JAVA and Loves to Develop Web Apps in Rails and plays FIFA in his free time. A True Anime Fan.
				</p>
			</div>
		</div>
		<div class="social">
			<a class="social-icon facebook  animate" href="https://www.facebook.com/profile.php?id=100010861564717"><span class="fa fa-facebook"></span></a>

			<a href="https://www.linkedin.com/in/ankush-sharma-0045aa158/" target="_blank" class=" social-icon linkedin  animate"><span class="fa fa-linkedin"></span></a>

			<a href="https://github.com/Ankush8527" target="_blank" class=" social-icon github  animate"><span class="fa fa-github-alt"></span></a>

		</div>
	</div>
</div>
</div>

<style type="text/css">
	@import url(//fonts.googleapis.com/css?family=Lato:400,900);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.Page{
	position: fixed;
}
.info-card {
    float: left;
	margin: 10px;
	-webkit-perspective: 400px;
}
.name{
	margin-top: 15px;
}
.back-name{
	font-family: 'Lato',sans-serif;
	font-size: 2em;
	color: #072c61;
}
.about-row{
	margin-top: 15px;
}
.back-image{
	width: 90px;
	height: 90px;
	border-radius: 50px;
	margin-top: 10px;
}
.about-me{
	font-family: 'Karla',sans-serif;
	font-size: 1.2em;
	letter-spacing: 1px;
	margin: 5px 5px 0px 10px;
}
.about-me b{
	color: #072c61;
}
.front, .back {
	background: #FFF;
	border-radius: 10px;
	border:2px solid #072c61;
	transition: -webkit-transform 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.front {
	overflow: hidden;
	width: 370px;
	height: 390px;
	position: absolute;
	z-index: 1;
}

.back {
	padding: 20px;
	padding-top: 0px;
	width: 370px;
	height: 390px;
	-webkit-transform: rotateY(-180deg);
	overflow: hidden;
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .front {
	-webkit-transform: rotateY(180deg);
}

.card-image {
	width: 250px;
    height: 250px;
    border-radius: 135px;
    background-color: #e6e6e6;
    overflow: hidden;
    margin-left: 15%;
    margin-top: 5%;
}


/* Social buttons */
.social {
	list-style: none;
	padding: 0px;
	margin-top: 15px;
	text-align: center;
}

.social a {
		position: relative;
		display: inline-block;
		min-width: 40px;
		padding: 10px 0px;
		margin: 0px 5px;
		overflow: hidden;
		text-align: center;
		background-color: rgb(215, 215, 215);
		border-radius: 40px;
	}

.lead{
	margin-top: 8%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 2.2em;
}
a.social-icon {
	text-decoration: none !important;
	box-shadow: 0px 0px 1px rgb(51, 51, 51);
	box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
	}
a.social-icon:hover {
	color: rgb(255, 255, 255) !important;
}
a.facebook {
	color: rgb(59, 90, 154) !important;
}
a.facebook:hover {		
	background-color: rgb(59, 90, 154) !important;
}
a.linkedin {
	color: #0077B5 !important;
}
a.linkedin:hover {
	background-color: #0077B5 !important;
}
a.github {
	color: rgb(51, 51, 51) !important;
}
a.github:hover {
	background-color: rgb(51, 51, 51) !important;
}
.team{
	font-family: 'Merriweather',serif;
	color: #072c61;
}	
.team-para{
	font-family: 'Karla',sans-serif;
	color: #072c61;
}
@media screen and (max-width:1099px){
	.Page{
		position: initial;
	}
	.team{
		margin-top: 20%;
	}
	.front,.back{
		margin-left: 2.5%;
		margin-bottom: 3%;
	}
	.about-me p{
		font-size: 1em;
	}
	.name{
		position: absolute;
		top:1%;
		right: 4%;
	}
}
</style>