<div class="container">
  <div class="jumbotron" style="background: transparent;">
    <h1>International Society of Automation</h1> 
  </div>
   
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -20px;">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://www.nsit.ac.in/static/images/index_carousel/1.jpg">
        </div>
        <div class="item">
            <img src="http://www.nsit.ac.in/static/images/index_carousel/2.jpg" alt="Second Slide">
        </div>
        <div class="item">
            <img src="http://www.nsit.ac.in/static/images/index_carousel/3.jpg" class="img-fluid" alt="Responsive image" alt="Third Slide">
        </div>
        <div class="item">
            <img src="http://www.nsit.ac.in/static/images/index_carousel/4.jpg" class="img-fluid" alt="Responsive image" alt="Third Slide">
        </div>
        <div class="item">
            <img src="http://www.nsit.ac.in/static/images/index_carousel/5.jpg" class="img-fluid" alt="Responsive image" alt="Third Slide">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="jumbotron jumbotron-fluid" style="background: transparent;">
	
  <h1 class="display-2" style="margin-left: -3px;">About Us</h1><br>
  <p class="lead">Founded in 1945, the International Society of Automation is a leading, global, nonprofit organization with more than 40,000 members worldwide. ISA develops standards, certifies industry professionals, provides education and training, publishes books and technical articles, and hosts conferences and exhibitions for automation professionals.
  </p><br>
  <p>ISA’s 160 geographical sections, connect members with technology, expert advice, and world-class technical programming.ISA’s members and customers are supported by ISA’s Corporate Partners - industry leading companies providing cutting-edge solutions for automation challenges.ISA’s Strategic Partner for Systems Integration: MAVERICK Technologies </p>
  
</div>

</div>

<style type="text/css">
	.lead{
		font-family: 'Fira Sans', sans-serif;
	}
</style>