<div class="row">
	<div class="panel" style="border: 2px solid #921B22;">
		<div class="panel-heading">
			<h4 style="border-bottom: 1px solid lightgrey; padding-bottom: 5px;font-family: 'Merriweather',serif; color:#922B21;  font-weight: bold; font-style: 1.3em;">Required Qualification:</h4>			
		</div>
		<div class="panel-body">
			<span class="text">A score of 70% in M.Tech. in Instrumentation/Instrumentation and Control Engg./Electronics Engg. or relevant discipline from a reputed institute.</span>
			
			<div class="page-header">
			</div>
			<span class="text">
				I always look for talented and passionate Ph.D. candidate to join our group and I encourage interested candidates to discuss their research. 
				If instrumentation and control engineering thrills you and if you consider yourself as highly dynamic, highly motivated, with excellent academic background throughout, master of at least one of LabVIEW and MATLAB, interested in measurements: Measuring circuits and Instrumentation, Sensors and transducers: modeling and linearization, Digital Signal processing: Notch filtering, System Modeling and Identification, Digital Filter design, Robotic Manipulators: Modeling, Tracking and Control, Intelligent Instrumentation, Real Time Systems, FPGA Applications, Renewable Energy PV Systems and alternative energy sources: Modeling and Control etc., and are willing to pursue Ph.D. in any of these areas you are encouraged to discuss your research plan.
				I always look for talented and passionate Ph.D. candidate to join our group and I encourage interested candidates to discuss their research.
				If instrumentation and control engineering thrills you and if you consider yourself as highly dynamic, highly motivated, with excellent academic background throughout, master of at least one of LabVIEW and MATLAB, interested in measurements: Measuring circuits and Instrumentation, Sensors and transducers: modeling and linearization, Digital Signal processing: Notch filtering, System Modeling and Identification, Digital Filter design, Robotic Manipulators: Modeling, Tracking and Control, Intelligent Instrumentation, Real Time Systems, FPGA Applications, Renewable Energy PV Systems and alternative energy sources: Modeling and Control etc., and are willing to pursue Ph.D. in any of these areas you are encouraged to discuss your research plan. 
			</span>
			<div class="page-header">
			</div>

			<div class="panel">
				<div class="panel-heading">
					<span style="font-family: 'Merriweather',serif; color:#921B22; font-weight: bold; font-size:1.3em;">As a serious Ph.D. candidate you must also consider that:</span>		
				</div>
				<div class="panel-body">
					<ul class="list-group">
					  <li class="list-group-item" style="border-radius: 0px;"><span class="text">Earning a Ph.D. degree is totally different in contrast to B.E,/B.Tech./M.Tech. degrees where you have a traditional class room teaching and examination system.</span></li>
					  <li class="list-group-item"><span class="text">As a Ph.D. candidate you are essentially required to understand and analyze the international level good quality pear papers and to propose acceptable technical enhancements or improvements to the problem undertaken.</span></li>
					  <li class="list-group-item"><span class="text">You must be able to demonstrate good programming skills.</span></li>
					  <li class="list-group-item"><span class="text">Working on hardware projects are more challenging than so called simulations based projects and because of this fact only, often people are not much motivated for hardware based projects. On the other hand, publishing experimental validated results are relatively easier as compared to the purely theoretical studies. It is normally said that simulation creates confusion.</span></li>
					  <li class="list-group-item"><span class="text">Working on hardware projects are more challenging than so called simulations based projects and because of this fact only, often people are not much motivated for hardware based projects. On the other hand, publishing experimental validated results are relatively easier as compared to the purely theoretical studies. It is normally said that simulation creates confusion.</span></li>
					  <li class="list-group-item"><span class="text" style="font-weight: bold; font-size: 1.2em;">As a good PHD candidate I would expect you to be high on :-</span>
					  	<ul class="list-group" style="border:0px;" id="subpoints">
					  		<li class="list-group-item" style="border:0px;"><span class="text">Intellectual Ability</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Knowledge in Chosen Field</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Scientific Ability,</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Overall Imaginative/Creative Ability</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Motivation - Perseverance - Commitment</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Verbal Communication in English</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Written Communication in English</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Visual/Graphic Communication in English</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Analytical Ability</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Initiative</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Ability to Work Independently</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Ability to Work as a Team Member</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Maturity and Stability</span></li>

					</ul>
				</li>
				<li class="list-group-item" style="border-radius: 0px;"><span class="text">I personally believe that there is no short cut to learning except by doing it yourself.</span></li>
				<li class="list-group-item"><span class="text" style="font-weight: bold; font-size: 1.2em;">Students of UG/PG levels desirous of taking up technical projects/final year thesis with us must also consider the following :-</span>
					<ul class="list-group" style="border:0px;" id="subpoints">
					  		<li class="list-group-item" style="border:0px;"><span class="text">Interestingly, in our team, there had been several instances where our UG/PG students were able to publish their work in the reputed international journals/conferences. You also would be expected and encouraged to reach up to this level.</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text"> We recommend only those who really enjoy the instrumentation and control engineering and are highly dynamic, highly motivated, have an excellent academic background, have capability to thoroughly control and command at least one of LabVIEW and MATLAB, have interest in Sensors: Modeling and Linearization, Digital Signal Processing: Notch filtering, System Modeling and Identification, Filter designs, Robotic Manipulators: Modeling, Tracking and Control, Intelligent Instrumentation, Real Time Systems, FPGA Applications, Renewable Energy PV Systems: Modeling and Control etc.,  and are willing to take up result oriented projects.</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Programming skills must be extraordinary.</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text"> Working on hardware projects are more challenging than so called simulations based projects and Because of this fact only often people are not much motivated for hardware based projects.</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Usually we follow up the work on weekly basis and enjoy working late hours (normally till 8-9PM) and would expect you also follow the same.</span></li>
					</ul>
				</li>
				<li class="list-group-item"><span class="text" style="font-weight: bold; font-size: 1.2em;">As a good candidate I would again expect you to be high on :-</span>
					  	<ul class="list-group" style="border:0px;" id="subpoints">
					  		<li class="list-group-item" style="border:0px;"><span class="text">Intellectual Ability</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Knowledge in Chosen Field</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Scientific Ability,</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Overall Imaginative/Creative Ability</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Motivation - Perseverance - Commitment</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Verbal Communication in English</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Written Communication in English</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Visual/Graphic Communication in English</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Analytical Ability</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Initiative</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Ability to Work Independently</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Ability to Work as a Team Member</span></li>
					  <li class="list-group-item" style="border:0px;"><span class="text">Maturity and Stability</span></li>
					</ul>
				</li>
			</ul>
				</div>
			</div>
			
		</div>
			<blockquote class="blockquote text-center">
				<p class="mb-0">“Information is not Knowledge, Knowledge is not wisdom.”</p>
				<footer class="blockquote-footer"><cite title="Source Title">Frank Zappa</cite></footer>
			</blockquote>
			<blockquote class="blockquote text-center">
				<p class="mb-0">“Training is not education.”</p>
				<footer class="blockquote-footer"><cite title="Source Title">Anon</cite></footer>
			</blockquote>
		
	</div>
</div>


<style type="text/css">
	.text{
		color:#922B21;font-family: 'Karla',sans-serif; font-size: 1.1em;
	}
	.panel-body{
		border: 1px solid white;
	}
	.blockquote{
		font-family: 'Merriweather',serif; color:#922B21;
		font-size: 2em; 
	}
	.blockquote-footer{
		color:#922B21;
		font-size: 0.6em;
	}
</style>