


<body>

<% @faculty.each do|f|%>
<div class="card-group" style="width:20.2rem;">
  <div class="card">
    <p class="img"><%= image_tag("#{f.pic}",size: "200x200")%></p>
    <div class="card-block">
      <h4 class="card-title"><%= link_to "#{f.name}",active_user_facultyShow_path(:name =>"#{f.name}")%></h4>
      <h4 class="bold">AREA OF INTERESTS</h4>
      <p class="card-text"><%= f.AOI.html_safe%></p>
    
    </div>
  </div>
  <br>
  <%end%>


   </body>

  <style type="text/css">
  	.bold{

  		font-weight: bold;
  		text-align: center;
  	}
  	.card-text{
  		font-weight : normal;
  		text-align: center;
  	}
  	.card-title{
  		text-align: center;
  	}
  	
  	.card{
  	
  	border:0.5px solid grey;	
  	}


  </style>