<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<a href="http://researchgate.isa-nsit.in/users/password/edit?reset_password_token=<%=@token%>" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://researchgate.isa-nsit.in/users/password/edit?reset_password_token%3D<%=@token%>&amp;source=gmail&amp;ust=1518948809618000&amp;usg=AFQjCNH-v90vMNAy8usGf98Aeyk1pAZf9A">Change my password</a>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
