@import "bootstrap-sprockets";
@import "bootstrap";

body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

body:before{
  content: "";
  position: absolute;
	background: url('https://www.toptal.com/designers/subtlepatterns/patterns/stonehaven.png'); 
  background-size: cover;
  z-index: -1;
  height: 20%; width: 20%;
  transform: scale(5);
  transform-origin: top left;
  filter: blur(1px);
}
.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.project-panel{
	border: 1px solid black;
	box-shadow: 10px 10px 5px lightgrey;
}
.navigation_bar{
	 border-bottom: 1px solid blue;
}
.nav>li:hover>a{
    background: none;
}
.fade{
   margin-top: 80px;
}
::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: blue;
}
p{
   font-family:'Fira Sans', sans-serif;
}
h4{
  font-family: 'Source Sans Pro', sans-serif;
}