<nav class="navbar navbar-light navigation_bar navbar-fixed-top" style="background-color:#072c61; border-bottom: 1px solid #072c61">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a class="navbar-brand test" href="/"><b style="font-family: 'Merriweather',serif; letter-spacing: 2px;">ISA</b>&nbsp;<span class="glyphicon glyphicon-home"></span></a>
      </ul>
        <ul class="nav navbar-nav" style="margin-left: 10px;">
        <li><a class="test" href="http://isa-nsit.in/"><b style="font-family: 'Karla',sans-serif; letter-spacing: 2px;">Our Mission</b></a></li>
        <li><a class="test" href="http://isa-nsit.in/"><b style="font-family: 'Karla',sans-serif; letter-spacing: 2px;">Our Action</b></a></li>
        <li><a class="test" href="http://isa-nsit.in/"><b style="font-family: 'Karla',sans-serif; letter-spacing: 2px;">Blog</b></a></li>
        </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><%=link_to "Student Login",new_user_session_path,class:'test'%></li>
            <li><%=link_to "Faculty Login",new_admin_session_path,class:'test'%></li>
            <li><%=link_to "Incharge Login",new_incharge_session_path,class:'test'%></li>
      </ul>
    </div>
  </div>
</nav>

<style type="text/css">
  a.test{
      padding: 15px 0px 0px 0px;
      color: white;
      font-family: 'Karla',sans-serif;
      font-weight: bold;
      font-size: 1em;
    }
    a.test:hover{
      text-decoration: none;
      transform: scale(1.03,1.03);
      color: white;
      background-color: #072c61;
    }
    .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #072c61;
  }
</style>