<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>


<a href="http://researchgate.isa-nsit.in/users/confirmation?confirmation_token=@token" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://researchgate.isa-nsit.in/users/confirmation?confirmation_token%3D@token&amp;source=gmail&amp;ust=1518886515186000&amp;usg=AFQjCNEPNSO53m0rIrR8UWktxSIUUWS3oQ">Confirm my account</a>
<%#<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
<%#</p>%>
